#pop-project-card{
    background-color: red;
    border-radius: 25px;
    padding: 25px;
    width: 80%;
    margin: auto;
    height: 70%;

    position:fixed;
    top: 15%;
    left: 10%;
    visibility: hidden;
}

#popup-cancelbtn{
    font-size:30px;
    position: absolute;
    top:10px;
    right:20px;
}

#popup-cancelbtn:hover{
    cursor:pointer;
}