/* Whole web page */
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
    box-sizing: border-box;
}
.container {
    width: 90%;
    margin: auto;
}
.container h1 {
    text-align: center;
}
/* all containers sibilings to header */
header~.container {
    padding-top: 120px;
    padding-bottom: 20px;
}
/* light-color-card div container */
.light-color-card {
    background-color: rgba(255, 99, 71, 0.075);
    padding: 20px;
    border-radius: 10px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.575) ;
}


/* Header */
header {
    background-color: tomato;
    color: white;
    position: sticky;
    top: 0;
}
/* Adding this clearfix to CSS */
.container::after {
    content: "";
    clear: both;
    display: table;
}



/* My Name */
#MyName {
    float: left;
    /* background-color: #ff0000; */
    max-width: max-content;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px 20px 10px 0px;
    cursor: pointer;
}



/* Navigation Menu */
#nav-menu {
    /* background-color: #c8fd1c; */
    max-width: max-content;
    float: right;
    margin: 10px 0px;
}
#nav-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#nav-menu ul li {
    display: inline-block;
    padding: 10px 0px;
    /* background-color: #8a2525; */
}
#nav-menu ul li a {
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
}
#nav-menu ul li a:hover {
    background-color: #000000;
}



/*about section*/
#about-image {
    /* background-color: #954b4b; */
    width: 40%;
    float: left;
    text-align: center;
    box-sizing: border-box;
}
#about-image img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: 10px solid tomato;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#about-desciption {
    /* background-color: #3de43a; */
    width: 60%;
    float: right;
}
#about-desciption h1 {
    text-align: left;
    font-size: 3em;
    color: tomato;
}
#about-desciption p {
    letter-spacing: 1.5px;
    line-height: 1.6em;
}
#about-links {
    margin-top: 45px;
}
#about-links ul {
    padding: 0;
}
#about-links li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
#about-links a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: tomato;
}



/* About Section */
#education{
    text-align: center;
}
hr{
    background-color: #fff;
    width: 65%;
}



/* Skills Section */
.skill-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:10px;
    justify-items:center;
    align-items:center;
}
.skill-grid>div{
    /* background-color: #fff; */
    padding:10px ;
}
.skill-grid > div > img {
    vertical-align:middle;
    margin-right: 10px;;
}


/* projects section */
#project-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(300px, auto);
}
.project {
    cursor: pointer;
}
.project img {
    width: 100%;
}
.project p {
    text-align: justify;
}



/* Contact Section */
.contact-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(40px, auto);
    grid-gap:10px;
    justify-items:center;
    align-items: center;
}
.contact-body img {
    vertical-align: middle;
}
.contact-body a {
    text-decoration: none;
}



/* Footer Section */
footer {
    background-color: tomato;
    color: white;
    padding: 50px 0px 15px 0px;
    text-align: center;
}

/* Navigate to up button */
#navigUp{
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    background-color: tomato;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}